@import "tailwindcss";

@theme {
  --color-main : #00FD9E;
  --color-main-variant : #008E58;
  --color-main-dark1 : #0A3D2E;
  --color-main-dark2 : #0C2620;
  --color-sub : #1E293B;
  --color-point : #FACC16;
  --color-point-variant : #FAA916;
  --color-white : #FFFFFF;
}