@import "tailwindcss";

@theme {
  --color-main: #00fd9e;
  --color-main-variant: #008e58;
  --color-main-dark1: #0a3d2e;
  --color-main-dark2: #0c2620;
  --color-sub: #1e293b;
  --color-point: #facc16;
  --color-point-variant: #faa916;
  --color-white: #ffffff;
  --color-gray: #808080;
}

button {
  cursor: pointer;
}

/* date input calendar icon */
.datetime-local-input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 12px;
  cursor: pointer;
  filter: invert(1);
}

.datetime-local-input:invalid::-webkit-datetime-edit {
  color: #808080;
}

.datetime-local-input:valid::-webkit-datetime-edit {
  color: #ffffff;
}
